<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<!-- Adding a new connection -->
	<!-- Data Source identifies the server name -->
	<connectionStrings>
		<add name="ConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\CC-Student\source\repos\WPFCurrencyConverterVs2\Database\CurrencyConverterData.mdf;Integrated Security=True"/>
	</connectionStrings>
	
</configuration>